{
    "tabWidth": 4,
    "useTabs": false,
    "editor.formatOnSave": true,
    "printWidth": 120,
    "semi": true,
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}
